<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .category {
                        margin:50px;

        }
        .text-input-container {
            margin:50px;
            display:flex;
            flex-direction:column
        }
    </style>
</head>
<body>
    <form action="/">
        <div class="container">
            <div class="category">  
                    <label for="cars">Choose a car:</label>
                    <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                    </select>
                    <br><br>
            </div>
            <div class="text-input-container">
                    <label for="cars">Title : </label>
                    <input type="text"/>
                    <label for="cars">Content : </label>
                    <input type="text"/>
                    <label for="cars">Fullname : </label>
                    <input type="text"/>
                    <label for="cars">Email : </label>
                    <input type="text"/>
                    <label for="cars">Phone Number : </label>
                    <input type="text"/>
                    <input type="submit"/>
            </div>
        </div>
    </form>

</body>
</html>